<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/estilos.css">
  <title>E02_MM </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/mmq.png">
  </head>

<body>
  
      <!--Inventario 1-->

  <div class="contenedor" v-if="ls_apt=='Administrador'">
    <h3 style="text-align: center; color: aqua; margin-top: -4%;">INVENTARIO </h3>
  <form id="forma" name="forma">
        <div class="elemento">
          <label for="appointment">Por favor elija una bodega: </label>
          <br>
          <select v-model="ls_log" class="personalizacion" required="true">
  
            <option>Bodega N° 1</option>
            <option>Bodega N° 2</option>
          </select>
        </div>
      </form>
    
    <form id="forma" name="forma">
      <div class="elemento" v-if="ls_adm!=-1">
        <label for="appointment">Cantidad de arroz: </label>
        <input type="number" placeholder="100.000 kg" readonly onmousedown="return false" name="appointment" required="true" id="appointment" class="a" />
      </div>

      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en kilos: </label>
        <input v-model="cnt_shoes" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>
      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en libras: </label>
        <input v-model="cnt_zpl" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>

      
      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en gramos: </label>
        <input v-model="cnt_zpl" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>
    </form>

    <div class="progress">
      <div class="progress-bar progress-bar-striped " id="myProgressBar"  role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <button id="updateProgress" class="btn btn-dark" type="button"> Intenta de nuevo</button>
  
  </div>

  <div class="contenedor">
  <form id="forma" name="forma">
      <div class="elemento" v-if="ls_adm!=-1">
        <label for="appointment">Cantidad de arroz: </label>
        <input type="number" placeholder="230.000 kg" readonly onmousedown="return false" name="appointment" required="true" id="appointment" class="a" />
      </div>

      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en kilos: </label>
        <input v-model="cnt_shoes" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>
      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en libras: </label>
        <input v-model="cnt_zpl" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>

      
      <div class="elemento" v-if="ls_adm==0">
        <label for="pin">Cantidad de venta en gramos: </label>
        <input v-model="cnt_zpl" type="number" placeholder="0" name="pin" id="pin"
          required="true" />
      </div>
    </form>
    <div class="progress">
      <div class="progress-bar progress-bar-striped " id="myProgressBars"  role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br>
    <button id="updateProgresss" class="btn btn-dark" type="button"> Intenta de nuevo</button>
  
  </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
      <script src="js/back.js"></script>
</body>

</html>